
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Range of Services</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-server wow bounceIn text-primary"></i>
                    <h3>Infrastructure</h3>

                    <ul class="list-group">
                        <li class="list-group-item">Procurement & Installation</li>
                        <li class="list-group-item">Network Management</li>
                        <li class="list-group-item">Backup & Recovery</li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-shield wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Cybersecurity</h3>
                    <ul class="list-group">
                        <li class="list-group-item">Data Protection</li>
                        <li class="list-group-item">Cloud Security and Compliance</li>
                        <li class="list-group-item">Cloud Disaster Recovery</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-cloud wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Cloud Solutions</h3>
                    <ul class="list-group">
                        <li class="list-group-item">Cloud Monitoring and Management</li>
                        <li class="list-group-item">Cloud Cost Optimization</li>
                        <li class="list-group-item">Cloud Collaboration and Productivity Tools</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-comments wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Communication</h3>
                    <ul class="list-group">
                        <li class="list-group-item">IT Consulting</li>
                        <li class="list-group-item">Managed Services</li>
                        <li class="list-group-item">Website & VoIP</li>
                        <li class="list-group-item">Social Media Management</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



</section>